version 5.176.4

source https://api.nuget.org/v3/index.json
framework: netcoreapp2.0,netstandard2.0,>=net45
storage:none

nuget FSharp.Core
nuget FAKE.Lib
nuget Expecto

group Build
    source https://api.nuget.org/v3/index.json
    framework: >=net45

    nuget FAKE
    github fsharp/FAKE modules/Octokit/Octokit.fsx
